@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

* {
   margin: 0;
   box-sizing: border-box;
   font-family: 'Rubik', sans-serif;
}

.container {
   display: flex;
   flex-direction: column;
}

.nav-container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 1% 9%;
}

.logo-image {
   display: flex;
}

.logo-name {
   margin-top: 5px;
   margin-left: 10px;
   font-size: 20px;
   font-weight: 600;
   line-height: 24px;
   letter-spacing: 0em;
   text-align: left;
}

.navbar ul li {
   display: inline;
}

.navbar ul li a {
   text-decoration: none;
   color: #4f5665;
   margin: 20px;
}

.nav-icon img {
   width: 30px;
   margin: 15px;
}

/* main container */
.main-container {
   background-image: url('https://s3-alpha-sig.figma.com/img/9e15/a72e/b94b169a2b3bf7010f10c4fce8c1d0a1?Expires=1653868800&Signature=bbHJzyhD9Dl231BNTudPFqCW~nlRvRr8ZWLuALrjkq9VIQqYxf8fQe~zvhbBZIvrelPpkYahp7cL2eT5AvoEf3jEhfchEZzhlnJxD-0OLH65aCK9O5mxDeuJwLPMbKnJimfY2l4Gqhqaee8eoBYQBkn6zrNDGrnxW68uzG2QK~lE18iXbvVoldPZKdhUkKnYF5B7oI2QsfaNvGAR5~1LgqlZE2aNiB4X40~I5j5JW79-GjXOBOdcEUw3zAj2rm9t3esomJgWnn2Ow4z~g-OnpYfMyqaPfu3bfnXcIXVzUc9xeYamYltMqrHqldtXwDKG2IbjVaD4G7RkWxSTS0LbPA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA');
   background-repeat: no-repeat;
   background-size: 100%;
}

.user-profile {
   color: #ffffff;
   margin: 60px 0px 30px 130px;
}

.profile-info {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 45px 60px 0px 80px;
}

.profile img {
   width: 185px;
   height: 185px;
   object-fit: cover;
   border-radius: 60%;
   object-position: 100% 20%;
}

.username {
   font-size: 20px;
   text-align: center;
   color: #000000;
}

.username h3 {
   font-weight: 700;
}

.username p {
   font-weight: 500;
}

.profile-container {
   display: flex;
   background-color: #f8f8f8;
   margin: 0px 130px 130px 130px;
   border-radius: 5px;
}

.profile-detail {
   background: #ffffff;
   box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.22);
   border-radius: 10px;
   margin: 50px 50px 50px 0px;
   border-radius: 5px;
}

.choose-photo {
   height: 40px;
   width: 100%;
   background: #ffba33;
   border-radius: 10px;
   border: none;
   color: #6a4029;
   margin-top: 17px;
   font-weight: bold;
   font-size: 15px;
   line-height: 25px;
   margin-bottom: 11px;
}

.remove-photo {
   height: 40px;
   width: 100%;
   background: #6a4029;
   border-radius: 10px;
   border: none;
   color: #ffffff;
   font-weight: bold;
   font-size: 15px;
   line-height: 25px;
}

.edit-password {
   height: 40px;
   width: 100%;
   background: #ffffff;
   border-radius: 10px;
   border: 1px solid #9f9f9f;
   color: #6a4029;
   margin-top: 40px;
   font-weight: bold;
   font-size: 15px;
   line-height: 25px;
}

.profile-button p {
   font-weight: 700;
   font-size: 20px;
   line-height: 30px;
   text-align: center;
   color: #6a4029;
   margin: 35px 0px;
}

.save-change {
   height: 55px;
   width: 100%;
   background: #6a4029;
   border-radius: 10px;
   border: none;
   color: #ffffff;
   font-weight: bold;
   font-size: 15px;
   line-height: 22px;
   margin-bottom: 22px;
}

.cancel {
   height: 55px;
   width: 100%;
   background: #ffba33;
   border-radius: 10px;
   border: none;
   color: #6a4029;
   font-weight: bold;
   font-size: 15px;
   line-height: 25px;
   margin-bottom: 11px;
}

.logout {
   height: 40px;
   width: 100%;
   background: #ffffff;
   border-radius: 10px;
   border: 1px solid #9f9f9f;
   color: #6a4029;
   margin-top: 40px;
   font-weight: bold;
   font-size: 15px;
   line-height: 25px;
   margin-bottom: 56px;
}

/* profile detail */
.profile-detail {
   padding: 17px 50px 75px 30px;
   width: 100%;
}

.profile-detail h3 {
   font-weight: 700;
   font-size: 25px;
   line-height: 38px;
   color: #4f5665;
}

.form-contacts {
   display: flex;
}

.from-email-adress {
   display: flex;
   flex: 1;
   flex-direction: column;
}
.form-phone {
   display: flex;
   flex-direction: column;
   margin-left: 50px;
}

label {
   margin-top: 20px;
   font-weight: 500;
   font-size: 20px;
   line-height: 30px;
   color: #9f9f9f;
}

input {
   height: 40px;
   border: none;
   border-bottom: 1px solid #000000;
}

.details {
   font-weight: 700;
   font-size: 25px;
   line-height: 38px;
   color: #4f5665;
   padding-top: 40px;
}

.form-details {
   display: flex;
}

.form-display-first-last {
   display: flex;
   flex: 1;
   flex-direction: column;
}

.form-date {
   display: flex;
   flex-direction: column;
   margin-left: 100px;
}

.gender {
   text-align: center;
}

.gender {
   display: flex;
   justify-content: center;
   padding-top: 66px;
}

.radio-container {
   display: block;
   position: relative;
   padding-left: 35px;
   margin: 12px;
   cursor: pointer;
   font-size: 22px;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.radio-container input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
}

.checkmark {
   position: absolute;
   top: 3px;
   left: 0px;
   height: 15px;
   width: 15px;
   background-color: #ffffff;
   border: 4px solid #9f9f9f;
   border-radius: 50%;
}

.radio-container:hover input ~ .checkmark {
   background-color: #ccc;
}

.radio-container input:checked ~ .checkmark {
   background-color: #ffba33;
   border: 3px solid #6a4029;
}

.checkmark:after {
   position: absolute;
   display: none;
}

.radio-container input:checked ~ .checkmark:after {
   display: block;
}

/* Footer */

.footer-container {
   padding: 5%;
   width: 100%;
   background-color: #f8f8f8;
}

.main-footer {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-left: 10%;
}

.desc-footer p {
   font-size: 16px;
   line-height: 30px;
   color: #4f5665;
   width: 50%;
}

.description {
   margin-top: 25px;
   margin-bottom: 45px;
   font-weight: 500;
   font-size: 16px;
   line-height: 30px;
   color: #4f5665;
}

.copy-right {
   margin-top: 30px;
}

.list-footer {
   display: flex;
   flex: 1;
   width: 100%;
}

.product {
   display: flex;
   flex-direction: column;
   margin-right: 10%;
   padding-right: 80px;
}

.product h3 {
   margin-bottom: 20px;
   font-weight: 600;
   font-size: 18px;
   line-height: 30px;
   color: #0b132a;
}

.product ul {
   padding: 0;
   margin: 0;
}

.product ul li {
   list-style: none;
   font-weight: 400;
   font-size: 16px;
   line-height: 30px;
   color: #4f5665;
}

.engage {
   display: flex;
   flex-direction: column;
   margin-right: 10%;
}

.engage h3 {
   margin-bottom: 20px;
   font-weight: 600;
   font-size: 18px;
   line-height: 30px;
   color: #0b132a;
}

.engage ul {
   padding: 0;
   margin: 0;
}

.engage ul li {
   list-style: none;
   font-weight: 400;
   font-size: 16px;
   line-height: 30px;
   color: #4f5665;
}
